<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madd_ordermanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GiftME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerHomeMain">

        </activity>
        <activity android:name=".OccasionSelect_Activity" />
        <activity android:name=".ResetPassword_Activity" />
        <activity android:name=".CustomerAccount_Activity" />
        <activity android:name=".CustomerEditAccount_Activity" />
        <activity android:name=".OccasionProduct_Activity" />
        <activity android:name=".AppLaunch_Activity" />
        <activity android:name=".login_Activity" />
        <activity android:name=".EditProduct_Activity" />
        <activity android:name=".CreateAccount_Activity" />
        <activity android:name=".AddProduct_Activity" />
        <activity android:name=".AdminProduct_Activity" />
        <activity android:name=".MainActivity">  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>